{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock %}
    {% block base_title %}
    <title>{% block title %}ArbitRage{% endblock %}</title>
    {% endblock %}

    {# Base Foundation CSS #}
    {% block foundation_css %}
    <link href="{% static "overview/css/foundation.min.css" %}" rel="stylesheet"/>
    <link href="{% static "overview/css/foundation-icons.css" %}" rel="stylesheet"/>
    {% endblock %}

    {# Custom CSS #}
    <link rel="stylesheet" href="{% static "overview/css/overview.css" %}">
    {% block css %}{% endblock %}

    {# Custom head JS #}
    {% block js %}{% endblock %}
</head>
<body {% block body_attr %}{% endblock %}>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left reveal-for-large main-menu" id="main-menu" data-off-canvas>
                <div class="row column show-for-large title">
                    <h3>ArbitRage</h3>
                </div>
                <div class="row">
                    {% include "overview/mainmenu.html" %}
                </div>
            </div>

            <div class="off-canvas-content" data-off-canvas-content>
                <div class="title-bar hide-for-large">
                    <div class="title-bar-left">
                    <button class="menu-icon" type="button" data-open="main-menu"></button>
                    <span class="title-bar-title">ArbitRage</span>
                    </div>
                </div>

                <div class="row column top-bar">
                    {% block top_bar %}{% endblock %}
                </div>

                <div class="row column top-bread">
                    <nav aria-label="You are here:" role="navigation">
                        <ul class="breadcrumbs">
                            <li><a href="/"><i class="fi-home"></i></a></li>
                            {% block breadcrumbs %}{% endblock %}
                        </ul>
                    </nav>
                </div>

                {% block base_body %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="{% static "overview/js/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "overview/js/foundation.js" %}"></script>
    <script>
      $(document).foundation();
    </script>
    <!--<script src="{% static "overview/js/js.cookie.js" %}"></script>-->
    <script src="{% static "overview/js/scripts.js" %}"></script>
</body>
</html>