@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&subset=latin-ext');

body, html{
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.row {
    max-width: 100%;
}

.off-canvas{
    height: 100%;
}

.off-canvas-content{
    box-shadow: none;
}

.main-menu{
    z-index: 1000;
    background: #2f323a;
}

.main-menu .title{
    background: #333;
    width: 100%;
    position: relative;
    left: 0;
    height: 70px;
    font-size: 13px;
    margin: 0;
    padding: 0;
    z-index: 99;
}

.main-menu .title h3{
    color: white;
    opacity: 1;
    position: relative;
    top: 20px;
    letter-spacing: 0;
    font-weight: normal;
    font-size: 22px;
    left: 25px;
}

.main-menu .menu li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

.main-menu .menu li a{
    color: #eee !important;
    font-weight: bold;
    display: block;
    font-size: 12px;
    height: 50px;
    line-height: 50px !important;
    list-style: none outside none;
    padding: 0 10px 0 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    position: relative;
}

.main-menu .menu li a:after {
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    content: "\f1f6";
    position: absolute;
    right: 10px;
    top: 20px;
    opacity: 0.1;
    font-size: 10px;
}

.main-menu .menu li a i{
    padding: 0 15px 0 0;
    font-size: 18px;
    margin-top: -2px;
}

.top-bar{
    margin: 0;
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 73px;
    line-height: 73px;
}

.top-bread{
    padding: 1.1625rem 0.875rem 1.7625rem 3em;
    border-width: 0;
    height: 55px;
    line-height: 50px !important;
    background: #F9F9F9;
    margin: 0 0 25px 0;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-color: white;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875em;
    padding: 0.5em;
    /* height: 2.3125em; */
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}